/* رنگ کلی */
.navbar {
    background-color: #2a2a2a !important;
}
.navbar-brand {
    height:100%;
    display:flex;
    align-items:center
}
.navbar-logo {
    height:100%;
    max-height:60px;
    width: auto;
    object-fit: contain;
}
.nav-link {
    color: white !important;
    font-weight: 400;
}

/* Mega menu */

.mega-menu {
    width: 100%;
    border-radius: 15px;
    padding: 0px !important;
    margin:0px !important
}
.mega-dropdown {
    position: static;
}

.main-categories {
    width: 12%;
    text-align: start;
    background-color: #efe6c6
}
    .main-categories .cat-item {
        padding: 9%;
        margin-top: 2%;
        cursor: pointer;
        border-radius: 15px;
    }
.main-categories .cat-item.active {
    background: #8e8063;
    font-weight: bold;
    color: white
}

.mega-dropdown .dropdown-menu {
    width: 100%;
    right: auto;
    left: 0;
    text-align: start;
    border:0px !important
}

.sub-box {
    display: none;
    width: auto !important;
}
.sub-box h5 {
    padding: 1% 0 1% 1% !important;
    color: #5d4a20;
    border-block: 1px solid #8e8063
}
.sub-box.active {
    display: block;
}
.sub-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.sub-grid ul {
    list-style: none;
    padding: 0;
    margin: 1%;
}
.sub-grid li {
    padding: 1.2% 3%;
    cursor: pointer;
    transition: 0.2s;
}
.sub-grid li:hover {
    color: #8b5e3c; /* قهوه‌ای بامبویی */
}

.search-box {
    background: #fff;
    border-radius: 30px;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-right: 15px;
}
.search-box input {
        border: none;
        outline: none;
        padding: 6px 10px;
        width: 200px;
        font-size: 0.9rem;
        background: transparent;
    }
