/* رنگ کلی */
.navbar {
    background-color: #2a2a2a !important;
}
.navbar-brand {
    height:100%;
    display:flex;
    align-items:center
}
.navbar-logo {
    height:100%;
    max-height:60px;
    width: auto;
    object-fit: contain;
}
.nav-link {
    color: white !important;
    font-weight: 400;
}

/* Mega menu */

.mega-menu {
    width: 100%;
    border-radius: 15px;
    padding: 0px !important;
}

.mega-dropdown {
    position: static;
}

.main-categories {
    width: 12%;
    text-align: center;
    background-color: #efe6c6
}
.main-categories .cat-item {
    padding: 9%;
    cursor: pointer;
    border-radius: 15px;
}

    .main-categories .cat-item.active {
        background: #8e8063;
        font-weight: bold;
        color: white
    }

.mega-dropdown .dropdown-menu {
    right: 0;
    left: auto;
    text-align:start
}
.mega-dropdown.show .dropdown-menu {
    display: block;
}




.sub-box {
    display: none;
    width: auto !important;
}
    .sub-box h5 {
        padding: 2.5% 0 1% 1% !important;
        color: #5d4a20;
        border-block: 1px solid #8e8063
    }
.sub-box.active {
    display: block;
}

.sub-box li:hover {
    color: #a67c52;
    font-weight: bold;
}
.sub-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.sub-grid ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sub-grid li {
    padding: 1% 3%;
    cursor: pointer;
    transition: 0.2s;
}

.sub-grid li:hover {
    color: #8b5e3c; /* قهوه‌ای بامبویی */
}
.search-box {
    background: #fff;
    border-radius: 30px;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-right: 15px;
}

    .search-box input {
        border: none;
        outline: none;
        padding: 6px 10px;
        width: 200px;
        font-size: 0.9rem;
        background: transparent;
    }

    .search-box button {
        border: none;
        background: #d9b382;
        color: #fff;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }

        .search-box button:hover {
            background: #a67c52;
        }
